// .line_unity .line_sous_unity{
//     text-align: center;
//     margin-bottom: 1.6rem;
//   }
  
//   .line_sous_unity p{
//     text-align: center;
//   }

.bgc_gry{

  // background-image:url('assets/img/bande0.png');
  // filter: brightness(30%);
  // color:black;
  //     background-size:cover;
  //     margin:0;
  //     background-repeat: no-repeat;
  //     background-attachment: inherit; 
  //     width:100%;


.stats--element{
    text-align: center;
    margin-bottom: 1.6rem;
}

  
  span{
    font-size: 1.5rem;
  }


}